beautifulsoup4==4.4.0
dj-database-url==0.3.0
Django==1.8.4
django-blog-zinnia==0.15.2
django-contrib-comments==1.6.1
django-mptt==0.7.4
django-postgrespool==0.3.0
django-tagging==0.4
django-xmlrpc==0.1.5
docutils==0.12
gunicorn==19.2.1
mots-vides==2015.5.11
Pillow==2.9.0
psycopg2==2.6
pyparsing==2.0.3
pytz==2015.6
SQLAlchemy==0.9.8
whitenoise==1.0.6
