<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>
    {% block title %}
    Generic title
    {% endblock %}
  </title>

  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>

  <div id='page'>

    <div id='page-header'>

      <nav>
        <ul id='nav-list'>

          <li class='nav-item'>
            <a class='nav-link' href="{% url 'home' %}">
              <strong>Home</strong>
            </a>
          </li>

          <li class='nav-item'>
            <a class='nav-link' href="{% url 'projects_list' %}">
              <strong>Projects</strong>
            </a>
          </li>

          <li class='nav-item'>
            <a class='nav-link' href="http://blog.tannerjlake.com">
              <strong>Blog</strong>
            </a>
          </li>

        </ul>
      </nav>

      <div class='page-header-text'>
        <h1>Tanner Lake</h1>
        <h2>Web Developer</h2>
      </div>

    </div>


    <div id='content'>

      {% block page_header %}
        <h3>Generic Page Header</h3>
      {% endblock %}

      {% block main_section %}
        <section class='main'>
          {% block main_section_header %}
            <article class='section-header'>
              <h4>Generic Section Header</h4>
            </article>
          {% endblock %}

          {% block main_section_content %}
            <article class='section-content'>
              <p>Content content content content</p>
            </article>
          {% endblock %}
        </section>
      {% endblock %}

      {% block sidebar_section %}
        <section class='sidebar'>
          {% block sidebar_section_header %}
            <article class="section-header">
              <h4>Need Something?</h4>
            </article>
          {% endblock %}

          {% block sidebar_section_content %}
            <article class="section-content">
              <p>
                You can find me, or things relating to me, at
                several places around the web!
              </p>

              <p>
                Wanna see if I have anything quick and witty to say?
                Find me on Twitter
                <a href="https://twitter.com/Tanotaur">@Tanotaur</a>!
              </p>

              <p>
                Curious about what I've been working on? Browse
                through my <a href="https://github.com/tlake">GitHub</a>!
              </p>

              <p>
                In the market for a developer? I'm looking for work!
                Please take a moment to look over my
                <a href="https://www.linkedin.com/in/tannerlake">LinkedIn</a>
                and to read through my <a href="{{ view.resume_link }}">resume</a>.
              </p>
            </article>
          {% endblock%}
        </section>
      {% endblock %}

    </div>

  </div>

  <script src="http://code.jquery.com/jquery-latest.js"></script>

</body>
</html>
