/* line 16, ../sass/style.sass */
html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 20%, #171a1d 20%, #171a1d 80%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0)), radial-gradient(circle, rgba(0, 0, 0, 0) 20%, #171a1d 20%, #171a1d 80%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0)) 50px 50px, linear-gradient(#2c3238 8px, transparent 2px) 0 -4px, linear-gradient(90deg, #2c3238 8px, transparent 8px) -4px 0;
  background-color: #171a1d;
  background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

/* line 23, ../sass/style.sass */
body {
  padding-top: 140px;
  background: transparent;
  font-size: 100%;
}

/* line 28, ../sass/style.sass */
.navbar {
  font-size: 1.85em;
}

/* line 31, ../sass/style.sass */
.navbar-inverse {
  border-color: #9d9d9d;
}

/* line 34, ../sass/style.sass */
.page-header {
  border-color: #9d9d9d;
  padding-bottom: 20px;
  margin-top: 1px;
}

/* line 39, ../sass/style.sass */
.panel-default {
  font-size: 2em;
  color: #9d9d9d;
  background-color: #222;
  padding: 10px 20px 10px;
  border-color: #080808;
  border-radius: 10px;
}

/* line 47, ../sass/style.sass */
.row-top {
  padding-top: 70px;
}

/* line 50, ../sass/style.sass */
.navbar-right {
  padding-right: 10px;
}

/* line 53, ../sass/style.sass */
.navbar-brand {
  margin-right: 40px;
}

/* line 56, ../sass/style.sass */
#content-col {
  padding-bottom: 60px;
}

/* line 59, ../sass/style.sass */
article.panel-default {
  margin-top: 20px;
}
