{% extends 'base.html' %}


{% block title %}Projects{% endblock %}


{% block pagehead %}
    <h1>Projects</h1>
{% endblock %}


{% block content %}

    {% for object in object_list %}
        <article class='panel-default'>

            <h2>{{ object.title }}</h2>

            <p>{{ object.desc }}</p>

            <p>
                <a href='http://{{ object.site_link }}'>{{ object.site_link }}</a>
                {% if object.site_link and object.code_link %}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                {% endif %}
                <a href='http://{{ object.code_link }}'>{{ object.code_link }}</a>
            </p>

        </article>
    {% endfor %}

{% endblock %}
