{% extends 'base.html' %}


{% block title %}Projects{% endblock %}


{% block page_header %}
  <h3>Projects</h3>
{% endblock %}


{% block main_section %}
  <section class="main">
    {% for object in object_list %}
      <article class='project'>
        <h4 class='project-title'>{{ object.title }}</h4>

        <a target='_blank' href='http://{{ object.site_link }}'>
          <img class='project-screenshot' src="{{ object.screenshot.url }}" />
        </a>

        <p class='project-desc'>{{ object.desc|linebreaks }}</p>

        <p class='project-links'>
          <div class="site-link">
            <a target="_blank" href='http://{{ object.site_link }}'>
              {{ object.site_link }}
            </a>
          </div>

          <div class="code-link">
            <a target="_blank" href='http://{{ object.code_link }}'>
              {{ object.code_link }}
            </a>
          </div>
        </p>
      </article>
    {% endfor %}
  </section>
{% endblock %}
