{% extends "base.html" %}

{% block title %}Coming Soon!{% endblock %}

{% block pagehead %}
    <h1>Coming Soon!</h1>
{% endblock %}


{% block content %}
    <article class='panel-default'>
        <h2>If you're seeing this page...</h2>

        <p>
            ...then hooray! I've successfully created a response for content that
            ought to exist but doesn't yet! Go me.
        </p>

        <p>
            Rest assured, though, that I'll get it done. I've got plans, you
            know. Big ones.
        </p>

        <p>
            Okay. Fine. Maybe not <strong>that</strong> big. But big enough.
        </p>
    </article>

{% endblock %}
