<!DOCTYPE html>
<html>
    <head>

        <title>
            {% block title %}
                Generic title
            {% endblock %}
        </title>

        <!-- Bootstrap -->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

    </head>
    <body>

        <div class="container">

            <nav class='navbar navbar-inverse navbar-fixed-top'>
                <div class='container-fluid'>

                    <ul class='nav navbar-nav'>

                        <li>
                        </li>

                        <li>
                        </li>

                    </ul>

                        <p class="navbar-text navbar-right">
                            a django project by tanner lake
                        </p>

                </div>
            </nav>


            <div class='page-header'>
                <div class='panel-default'>
                    <h1>{% block pagehead %}Generic Page Header{% endblock %}</h1>
                </div>
            </div>


            {% block content %}

                <h2>
                    Generic title
                </h2>

                <p>
                    Nothing interesting yet
                </p>

            {% endblock %}

            <div class='btn-group' role='group'>

            </div>

        </div>

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    </body>
</html>
