<!DOCTYPE html>
<html>
    <head>

        <title>
            {% block title %}
                Generic title
            {% endblock %}
        </title>

        <!-- Bootstrap -->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

    </head>
    <body>

        <div class="container">

            <nav class='navbar navbar-inverse navbar-fixed-top'>
                <div class='container'>

                    <div class='container-fluid'>
                    <ul class='nav navbar-nav'>

                        <li>
                            <a class='navbar-brand' href=#>
                                <strong>
                                    About
                                </strong>
                            </a>
                        </li>

                        <li>
                            <a class='navbar-brand' href=#>
                                <strong>
                                    Projects
                                </strong>
                            </a>
                        </li>

                        <li>
                            <a class='navbar-brand' href=#>
                                <strong>
                                    Blog
                                </strong>
                            </a>
                        </li>

                    </ul>

                        <p class="navbar-text navbar-right">
                            a django project by tanner lake
                        </p>

                    </div>
                </div>
            </nav>


            <div class='row'>
                <div class='col-sm-7'>
                    <div class='page-header'>
                        <div class='panel-default'>

                            {% block pagehead %}
                                Generic Page Header
                            {% endblock %}

                        </div>
                    </div>


                    {% block content %}
                        <h2>
                            Generic title
                        </h2>

                        <p>
                            Nothing interesting yet
                        </p>
                    {% endblock %}

                </div>

                <div class='col-sm-4 col-sm-offset-1'>
                    <div class='panel-default'>
                        {% block sidebar %}
                            <h2>
                                Need Something?
                            </h2>
                            <p>
                                You can find me, or things relating to me, at 
                                several places around the web!
                            </p>

                            <p>
                                Wanna see if I have anything quick and witty to say?
                                Find me on Twitter
                                <a href="https://twitter.com/Tanotaur">
                                @Tanotaur</a>!
                            </p>

                            <p>
                                Skeptical that I know anything whatsoever about
                                code? Confirm or shatter your suspicions with my
                                <a href="https://github.com/tlake">GitHub</a>!
                            </p>
                        {% endblock%}
                    </div>
                </div>
            </div>

        </div>

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    </body>
</html>
